*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #F0F0F0; 
    color: #333;
}
#dark-mode-icon{
    position: absolute;
    width: 30px;
    margin: 20px;
    cursor: pointer;
    bottom: 20px;
}
body.dark {
    background-color: #2C2C2C; 
    color: #E0E0E0; 
}
.box.dark {
    background-color: #595959; 
    padding: 20px;
    border-radius: 5px;
}
.settings.dark{
    background-color: #595959; 

}
.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box{
    background-color: #FFFFFF;
    border: 1px solid #CCC;
    border-radius: 10px;
    width: 60vw;
    height: 70vh;
    flex-basis:60%;
    margin: 50px 100px;
}
.settings{
    flex-basis: 20%;
    background-color:#FFFFFF ;
    height: 70vh;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid #CCC;
    padding-top: 1px;
}
li span,a{
    margin-top:50px;
}
.upload{
    background-color: #0075FF;
    width: fit-content;
    margin: auto;
    margin-left: 700px;
    padding: 15px 25px;
    border-radius:10px;
    cursor: pointer;
    color: white;
    letter-spacing: 5px;
}
.upload:hover{
    background-color: #0c268f;
}
.upload input{
    display: none;
}
.filters{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 20px;
}
.filters ul,
.filters ul li{
    display: flex;
    flex-direction: column;
    direction: rtl;
    padding: 7px;
}
.filters ul{
    gap: 25px;
}
.filters ul li{
    gap: 7px;
}
.filters ul li label{
color: black;
}
.filters ul li:last-child{
    flex-direction: row;
    justify-content: space-around;
}
.filters ul li:last-child a{
    color: #fff;
    padding: 10px 20px;
    background-color: #060;
    cursor: pointer;
}
#download,.reset{
    background-color:#0075FF ;
    border-radius: 10px;
    padding: 10px 25px;
    width: fit-content;
    letter-spacing: 5px;
    margin-top: 5px;
    color: white;
}
#download:hover,.reset:hover{
    background-color:#0c268f ;
}
@media screen and (max-width:650px) {
    .container{
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .img img,canvas{
        max-width: 80vw;
    }
}
